body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td, img, a {
  margin: 0;
  padding: 0;
  font-size:100%;
  font-weight:normal;
}
#_body{
  margin-right:auto;
  margin-left:auto;
  width:800px;
  font-family:Arial, sans-serif;
}

div#bg{
  background:url("./bg2.png");
  width:1024px;
  height:768px;
  margin: 0 auto;
  padding-top:266px;
  
}
div#myform{
  width:600px;
  margin:0 auto;
}
div#myform  > div{
  margin:25px 0;
}
div#myform label{
  display:inline-block;
  margin-right:20px;
}

div#myform a{
  display:inline-block;
  width:62px;
  height:59px;
  margin:0 7px;
}
div#myform a#design{
  background-position:0 0;
}
div#myform a#design:hover{
  background-position:-3px,0px;
}
div#myform a{
  background-position:-9px,-8px;
}
div#myform a:hover{
  background-position:-7px,-8px;
}
div#myform a.select:hover{
  background-position:0,0px;
}
div#myform a.select{
  background-repeat:no-repeat;
}

a#design{
  background:url("./design1.png");
}
a#design:hover{
  background:url("./design2.png");
}
a#design.select{
  background:url("./design3.png");
}
a#alg{
  background:url("./alg1.png");
}
a#alg:hover{
  background:url("./alg2.png");
}
a#alg.select{
  background:url("./alg3.png");
}
a#it{
  background:url("./it1.png");
}
a#it:hover{
  background:url("./it2.png");
}
a#it.select{
  background:url("./it3.png");
}
a#web{
  background:url("./web1.png");
}
a#web:hover{
  background:url("./web2.png");
}
a#web.select{
  background:url("./web3.png");
}
a#android{
  background:url("./android1.png");
}
a#android:hover{
  background:url("./android2.png");
}
a#android.select{
  background:url("./android3.png");
}
a#{
  background:url("./1.png");
}
a#{
  background:url("./1.png");
}
div#team label ,div#work label{
  position:relative;
  bottom:21px;
}
